/*-----layout-----*/
* {
    box-sizing: border-box;
	border-radius:5px;
}
html,body{
	margin:0%;
	height:100%;
}
img{
    max-width:100%;
    height: auto;
}
.fibonacci{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../image/spiral_1.png");/*,url("../image/spiral_2.png"),url("../image/spiral_3.png"),url("../image/spiral_4.png"),url("../image/spiral_5.png"),url("../image/spiral_6.png"),url("../image/spiral_7.png"),url("../image/spiral_8.png");*/

}
#header{
	display:inline-block;
	width:auto;
	height:auto;
	min-width:100%;
	min-height:20.9%;
	padding:0.809%;
	border:1px dotted silver;
	background:rgba(128,128,128,0.1);
}
figure{
	float:left;
	margin:0%;
	padding:0%;
	/*border:1px solid #00FFFF;
	background:rgba(0,255,255,0.1);*/
}
#logo{
	max-width:100%;
	height:auto;
}
#banner_top{
	float:left;
	margin-left:1.618%;
}
nav{
	/*padding:0.809%;*/
	border:1px solid red;
	background:rgba(255,0,0,0.1);
}
#nav_top{
	float:right;
	min-width:50%;
	max-height:0px;
	padding-bottom:27px;
}
div.nav_top{
	max-height:25px;
	background:rgba(220,220,220,1);
	border:1px solid silver;
	float:right;
	margin:0.202%;
	padding:0.404%;
	overflow:hidden;
	position:relative;
	z-index:10;
}
div.nav_top:hover{
	overflow:visible;
	max-height:100%;
}
input.nav_top{
	display:none;
}
a.nav_top{
	display:block;
	text-align:center;
	text-decoration:none;
	background:whitesmoke;
	border:1px solid dimgray;
}
div.nav_left,div.nav_right{
	z-index:10;
	margin:0.202%;
	padding:0.404%;
	max-height:25px;
	overflow:hidden;
	position:relative;
	border:1px solid silver;
	background:rgba(220,220,220,1);
	position:relative;
	z-index:9;
}
div.nav_left:hover,div.nav_right:hover{
	overflow:visible;
	max-height:100%;
}
a.nav_left,a.nav_right{
	display:block;
	text-align:center;
	text-decoration:none;
	background:whitesmoke;
	border:1px solid dimgray;
}
a.sub_left,a.sub_right{
	display:inline;
}
#login{
	margin-top:1.618%;
	float:right;
	clear:right;
	position:relative;
	z-index:-1;
}
main{
	display:inline-block;
	width:auto;
	height:auto;
	min-width:100%;
	min-height:55%;
	margin-top:0.809%;
	margin-bottom:0.809%;
	padding:0.809%;
	border:1px dotted silver;
	background:rgba(128,128,128,0.1);
}
#main_header{
	margin-top:1.618%;
	border:1px solid pink;
	background:rgba(255,128,0,0.1);
}
aside{
	padding:0.809%;
	float:left;
	min-width:22%;
	border:1px solid blue;
	background:rgba(0,0,255,0.1);
}
#nav_left a,#nav_right a{
	display:block;
}
section{
	margin-top:0.809%;
	padding:0.809%;
	border:1px solid #FF00FF;
	background:rgba(255,0,255,0.1);
}
div{
	margin-top:0.809%;
	padding:0.809%;
	border:1px solid #FF00FF;
	background:rgba(255,0,255,0.1);
}
article{
	margin:0.809%;
	margin-top:0%;
	padding:0.809%;
	padding-top:0%;
	float:left;
	min-width:54%;
	border:1px solid green;
	background:rgba(0,255,0,0.1);
}
#content{
	margin-top:0.809%;
	padding:0.809%;
	border:1px solid #FF00FF;
	background:rgba(255,0,255,0.1);
}
#main_footer{
	margin-top:1.618%;
}
footer{
	display:inline-block;
	min-width:100%;
	height:auto;
	min-height:19.1%;
	padding:0.809%;
	clear:both;
	text-align:center;
	border:1px dotted silver;
	background:rgba(128,128,128,0.1);
}
#banner_bottom{
	margin:0;
}
#nav_bottom, #organization{
	margin-top:0.809%;
}
#organization{
	font-size:80.9%;
	padding:0.404%;
}
.name::after,.tel::after,.email::after,.country_name::after{
    content: " - ";
}
.street_address::after,.locality::after,.region::after{
    content: ", ";
}
@media only screen and (max-width:700px){
	article{
		min-width:75%;
	}
	#aside_right{
		clear:left;
		min-width:100%;
	}
	#nav_top{
		min-width:70%;
	}
	input.nav_top{
		display:none;
	}
	.nav_right{
		display:none;
	}
	#banner_top{
		display:none;
	}
}
@media only screen and (max-width:500px){
	aside{
		clear:left;
		min-width:100%;	
	}
	article{
		margin-top:0.809%;
		clear:left;
		min-width:99%;
    }
	main{
		min-height:88%;
	}
	#header{
		min-height:10%;
	}
	#logo{
		max-width:40%;
	}
	#nav_top{
		float:right;
		max-width:10%;
		min-width:10%;
		max-height:15px;
		min-height:10px;
		overflow:hidden;
	}
	#nav_top:hover{
		max-width:100%;
		min-width:50%;
		max-height:40px;
		overflow:visible;
	}
	input.nav_top{
		display:block;
		float:left;
		margin:3px;
	}
	div.nav_top{
		clear:both;
	}
	#nav_left, #aside_left{
		max-height:30px;
		display:block;
	}
	div.nav_left{
		display:block;
		float:left;
		max-height:22px;
		overflow:hidden;
	}
	.sub_left{
		clear:both;
	}
	#banner_left{
		display:none;
	}
	#footer,#aside_right,#login{
		display:none;
	}
	#nav_left{
		text-align:center;
	}
	#nav_left a{
		display:inline;
	}
	.fibonacci{
		background-image: url("../image/spiral_5.png");
	}
}
/*-----box-----*/
table.box{
	display:none;
	position:absolute;
	background:gainsboro;
	border-collapse:collapse;
}
tr.box,th.box{
	cursor:hand;
	background:silver;
}